[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
typer = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
sqlalchemy = "*"
pydantic = "*"
mysqlclient = "*"
typing = "*"
python-multipart = "*"
aiofiles = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy-utils = "*"
websockets = "*"
fastapi-websocket-pubsub = "*"
fastapi-plugins = "*"
fastapi-socketio = "*"
beautifulsoup4 = "*"
pyyaml = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.10"
