[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
typer = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
sqlalchemy = "*"
pydantic = "*"
mysqlclient = "*"
typing = "*"
python-multipart = "*"
orjson = "*"
aiofiles = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
